game/config/network/ClientPacketFilter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="packets">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="packetByName">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="limit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="log">
                      <xs:complexType>
                        <xs:attribute name="format" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="actionFailed" />
                    <xs:element minOccurs="0" name="drop" />
                  </xs:sequence>
                  <xs:attribute name="count" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="perMs" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>